exp/*
exp_wiki40b/*
exp_decay/*
exp_decay_new/*
wandb/*
*/exp/*
*/wandb/*
*/plots/*
*/data/datasets/*
*/__pycache__/*
*/*/__pycache__/*
src/trainer_old.py
media/*
toy_exp/*
toy_mtl/*
eval_results/*
scripts/*
config/decay/*
config/multilingual/*
*/*.ipynb